@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --main-border-radius: 6px;
    --font-size-main: 15px;
    --font-size-footer: 10px;
    --width-main: 90vw;
}

* {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: none;
    padding: none;
    box-sizing: border-box;
    color: #000;
}

html {
    padding:10px;
    padding-top: 0;
    padding-bottom: 0;
}

body {
    background-color: rgb(236, 236, 236);
    background-image: url(./images/bg-mobile-light.jpg);
    background-repeat: no-repeat;
}

div.top {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 30px;
    color: #fff;
}

button.theme-button {
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
}

div.todo-inpu {
    display: block;
    margin: 0 auto;
    background-color: #fff;
    width: var(--width-main);
    height: 50px;
    border-radius: var(--main-border-radius);
}

div.container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}


div.circle {
    display: block;
    margin: auto 0;
    width: 25px;
    height: 25px;
    border: 2px rgba(185, 183, 183, 0.562) solid;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 12px;
}


input {
    width: 80%;
    margin: 7.5px;
    outline: none;
    border: none;
    font-size: var(--font-size-main);
    margin-top: 12px;
}

main {
    height: 100vh;
}

section.todo-list {
    display: flex;
    flex-direction: column;
    height: 70vh;
    margin-top: 30px;
}

div.todo-element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    width: var(--width-main);
    height: 45px;
    border-radius: var(--main-border-radius);
    margin-top: 5px;
}

div.circle-element {
    display: block;
    margin: auto 0;
    width: 25px;
    height: 25px;
    border: 2px rgba(185, 183, 183, 0.562) solid;
    border-radius: 50%;
    margin-left: 4px;
}

p {
    font-size: var(--font-size-main);
    width: 70vw;
}

div.buttons-todo {
    display: block;
    margin: auto 0;
    width: var(--width-main);
    text-align: center;
}

div.flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    border-radius: var(--main-border-radius);
    height: 50px;
}

div.attribution {
    font-size: var(--font-size-footer);
    width: var(--width-main);
}

div.attribution a {
    font-size: var(--font-size-footer);
}